   body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40%;
            right: 0px;
            height: 80%;
            margin-top: 10px;

        }

        #info {
          	top:0;
            display: table;
            position: absolute;
            margin: 15px auto;
            word-wrap: anywhere;
            white-space: pre-wrap;
            padding: 10px;
            border: none;
            border-radius: 3px;
            font-size: 12px;
            text-align: center;
            color: #222;
            background: #fff;
          	right: 300px;
        }

        #location-map {
            width: 300px;
          	
        }

        #form {
            width: 60%;


        }
	.mapboxgl-popup {
            max-width: 450px;
            font: 9px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }